.mouseMove {
    position: "absolute";
    left: "0px";
    top: "0px";
    width: "20rem";
    height: "3rem";
    background: "#fff";
    color: "#384141";
    text-align: 'center';
    padding-top: '0.5rem';
    border-radius: '5px';
    z-index: '999';
}